<div class="partners container py-3">
  <div class="card">
    <div class="row align-items-center h-100">
      <div class="col-md-4">
        <%= link_to partner do %>
          <img src="<%= partner.logo %>" class="w-100">
        <% end %>
      </div>
      <div class="col-md-8 px-3">
        <div class="card-block px-3">
          <h4 class="card-title"><%= partner.name %></h4>
          <%= truncate(partner.description, length: 250) %>
          <div class="pt-3">
            <%= link_to "Read More", partner, class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
