<%= form_with(url: url, model: news, local: true) do |form| %>
  <% if news.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(news.errors.count, "error") %> prohibited this news from being saved:</h2>

      <ul>
      <% news.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-4">
      <div class="card" style="width: 20rem;">
        <div class="card-block">
          <% if @news.new_record? %>
            <h4 class="card-title">New News Post</h4>
          <% else %>
            <h4 class="card-title">
              <b>Edit</b>
              <span class="thin-text"><%= @news.title %></span>
            </h4>
          <% end %>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="field">
              <%= form.label :title %>
              <%= form.text_field :title, class: 'form-control' %>
            </div>
          </li>
          <li class="list-group-item">
            <div class="field">
              <%= form.label :banner_image_url %>
              <%= form.text_field :banner_image_url, class: 'form-control' %>
            </div>
          </li>
          <li class="list-group-item">
            <div class="field">
              <%= form.label :description %>
              <%= form.text_area :description, class: 'form-control' %>
            </div>
          </li>
          <li class="list-group-item">
            <div class="actions">
              <%= form.submit "Save News Post", class: "btn btn-success btn-block" %>
            </div>
          </li>
        </ul>
      </div>
      <% if @news.persisted? %>
        <%= link_to 'Show', @news %> |
      <% end %>
      <%= link_to 'Back', authors_news_index_path %>
    </div>
    <div class="col-md-8">
      <div class="field">
        <%= form.text_area :body %>
      </div>
    </div>
  </div>
<% end %>
