<%= form_for([@event, @event.registrations.build]) do |f| %>
  <div class="card" style="width: 100%;">
    <div class="card-block">
      <div class="card-title">
        <h4 class="mt-2">Please Register!</h4>
      </div>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div class="field">
          <%= f.label :name %>
          <%= f.text_field :name, class: "form-control", :required => true %>
        </div>
      </li>
      <li class="list-group-item">
        <div class="field">
          <%= f.label :phone, "Phone Number" %>
          <%= f.text_field :phone, class: "form-control", :required => true %>
        </div>
      </li>
      <li class="list-group-item">
        <div class="field">
          <%= f.label :email, "Email Address" %>
          <%= f.email_field :email, class: "form-control", :required => true %>
        </div>
      </li>
      <li class="list-group-item">
        <div class="actions">
          <%= f.submit "Register", class: "btn btn-block btn-success" %>
        </div>
      </li>
    </ul>
  </div>
<% end %>
