<% provide(:page_title, @partner.name) %>
<% provide(:partner, "active") %>

<div class="row">
  <div>
    <%= link_to 'Edit', edit_authors_partner_path(@partner), class: 'btn btn-sm btn-warning' %>
    <%= link_to 'Remove', authors_partner_path(@partner), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
  </div>
  <div class="col-md-8 col-md-offset-2">
    <h1><%= @partner.name %></h1>
    <div class="border-top border-bottom">
      <p class="published mt-3"><%= @partner.display_day_published %></p>
    </div>
    <div class="border-bottom">
      <p class="tags mt-3"><%= raw @partner.tags.map { |t| link_to t.name, partners_path(tag: t.name) }.join(', ') %></p>
    </div>
    <div class="event_body mt-3">
      <%= @partner.body.html_safe %>
    </div>
  </div>
</div>
