<%= form_with(url: url, model: @member, local: true) do |form| %>
  <% if @member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@member.errors.count, "error") %> prohibited this news from being saved:</h2>

      <ul>
      <% @member.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <div class="row">
      <div class="col-md-6">
        <div class="card" style="width: 100%;">
          <div class="card-block">
            <% if @member.new_record? %>
              <h4 class="card-title">New Campaign</h4>
            <% else %>
              <h4 class="card-title">
                <b>Edit</b>
                <span class="thin-text"><%= @member.name %>'s Record</span>
              </h4>
            <% end %>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="field">
                <%= form.label :name %>
                <%= form.text_field :name, class: 'form-control' %>
              </div>
            </li>
            <li class="list-group-item">
              <div class="field">
                <%= form.label :member_image %>
                <%= form.text_field :member_image, class: 'form-control' %>
              </div>
            </li>
            <li class="list-group-item">
              <div class="field">
                <%= form.label :business %>
                <%= form.text_field :business, class: 'form-control' %>
              </div>
            </li>
            <li class="list-group-item">
              <div class="field">
                <%= form.label :position %>
                <%= form.text_field :position, class: 'form-control' %>
              </div>
            </li>
            <li class="list-group-item">
              <div class="field">
                <%= form.label :commencement_year %>
                <%= form.text_field :commencement_year, class: 'form-control' %>
              </div>
            </li>
            <li class="list-group-item">
              <div class="field">
                <%= form.label :roll_off_year %>
                <%= form.text_area :roll_off_year, class: 'form-control' %>
              </div>
            </li>
            <li class="list-group-item">
              <div class="field">
                <%= form.label "Has this board member rolled off?" %>
                <%= form.check_box :rolled_off?, class: 'form-control' %>
              </div>
            </li>
            <li class="list-group-item">
              <div class="actions">
                <%= form.submit "Save Board Member", class: "btn btn-success btn-block" %>
              </div>
            </li>
          </ul>
        </div>
        <%= link_to 'Back', authors_board_members_path %>
      </div>
      <div class="col-md-6">
        <div class="field">
          <%= render @member %>
        </div>
      </div>
    </div>
  </div>
<% end %>
