<div class="card">
  <div class="card-topper" style="background-image: url(<%= member.member_image %>);"></div>
  <div class="card-block">
    <h4 class="card-title"><%= member.name %></h4>
    <p class="card-text"><%= member.business %></p>
    <p class="card-text"><%= member.position %></p>
    <p class="card-text">
      <%= member.commencement_year %>
      <% if member.rolled_off? %>
        <span> - <%= member.roll_off_year %></span>
      <% end %>
    </p>
  </div>
</div>
