<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-white border-bottom shadow-sm mb-3">
  <div class="container">
    <%= link_to root_path do %>
      <%= image_tag("https://s3.amazonaws.com/united-way-greater-valdosta/GVUW+Logo+w-+b.g.jpg") %>
    <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown mr-2 ">
          <a class="<%= 'active' if
              current_page?(root_path)
            %> nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Our Impact
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to 'Why Live United', why_live_united_path, class: "dropdown-item #{yield(:why_live_united_active)}" %>
            <div class="dropdown-divider"></div>
            <%= link_to 'Our Work', our_work_path, class: "dropdown-item #{yield(:our_work_active)}" %>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item " href="#">Our Focus Areas</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item " href="#">Impact Stories</a>
          </div>
        </li>
        <li class="nav-item mr-2">
          <%= link_to 'Our Partners', partners_path, class: "nav-link #{yield(:partners_active)}" %>
        </li>
        <li class="nav-item dropdown mr-2 ">
          <a class="<%= 'active' if current_page?(authors_news_index_path) %> nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Get Involved
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item " href="#">Give</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item " href="#">Advocate</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item " href="#">Volunteer</a>
          </div>
        </li>
        <li class="nav-item dropdown mr-2 ">
          <a class="<%= 'active' if
              current_page?(news_index_path) ||
              current_page?(events_path)
            %> nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Newsroom
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to 'News', news_index_path, class: "dropdown-item #{yield(:blog_active)}" %>
            <div class="dropdown-divider"></div>
            <%= link_to 'Events', events_path, class: "dropdown-item #{yield(:event_active)}" %>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item " href="#">Press & Media</a>
          </div>
        </li>
        <li class="nav-item dropdown mr-2 ">
          <a class="<%= 'active' if current_page?(authors_news_index_path) || current_page?(board_members_path) || current_page?(staff_members_path) %> nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            About
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item " href="#">History</a>
            <div class="dropdown-divider"></div>
            <%= link_to 'Leadership & Staff', board_members_path, class: "dropdown-item #{yield(:leadership_active)}" %>
            <% if @campaign_nav.empty? %>
            <% else %>
              <div class="dropdown-divider"></div>
              <%= link_to "#{@campaign_nav.first.year} Annual Campaign", campaign_path("#{@campaign_nav.first.id}"), class: "dropdown-item #{yield(:campaign_active)}" %>
            <% end %>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item " href="#">Partners</a>
          </div>
        </li>
        <% if author_signed_in? %>
          <li class="nav-item mr-2">
        <% else %>
          <li class="nav-item">
        <% end %>
          <%= link_to 'Donate', root_path, class: "nav-link #{yield(:donate_active)} " %>
        </li>
        <% if author_signed_in? %>
          <li class="nav-item dropdown ">
            <a class="<%= 'active' if current_page?(authors_news_index_path) || current_page?(authors_account_path) %> nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= current_author.display_name %>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to 'Edit News', authors_news_index_path, class: "dropdown-item #{yield(:author_news)}" %>
              <%= link_to 'Edit Events', authors_events_path, class: "dropdown-item #{yield(:event_news)}" %>
              <a class="dropdown-item " href="#">Edit Pictures</a>
              <div class="dropdown-divider"></div>
              <%= link_to 'Account', authors_account_path, class: "dropdown-item #{yield(:author_settings)}" %>
              <%= link_to 'Logout', destroy_author_session_path, method: :delete, class: "dropdown-item " %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
