<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:page_title) %> | Greater Valdosta United Way</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,400i,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700" rel="stylesheet">
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <% if flash.any? %>
      <% flash.keys.each do |key| %>
        <div class="alert alert-<%= key.to_s %> alert-dismissable" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <%= flash[key] %>
        </div>
      <% end %>
    <% end %>
    <%= yield %>
  </body>
</html>
